div.Results {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

div.resultsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  margin-top: 42px;
}
