div.Results {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

div.resultsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  margin-top: 42px;
}

.arrowContainer {
  align-items: center;
  color:#0ad4fa;
  display:flex;
  justify-content: center;
  width:100%;
}

.arrowContainer i.unabled {
  visibility: hidden;
}

.arrowContainer i, .arrowContainer div {
  cursor:pointer;
  margin:0 1rem;
}

.arrowContainer i:hover, .arrowContainer div:hover {
  cursor:pointer;
}
