div.Filters {
  display: flex;
  flex-direction: column;
  margin: 65px 0 0 132px;
}

div.filtersContainer {
  display: flex;
  width: 100%;
}

p.textFilters1,
p.textFilters2 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: -0.15px;
  margin-right: 24px;
}

p.textFilters1 {
  color: #616161;
}

p.textFilters2 {
  color: #a3a3a3;
  margin-left: 24px;
}

div.line1 {
  width: 1px;
  height: 49px;
  background: #d9d9d9;
}

div.line2 {
  height: 1px;
  width: 90%;
  margin-top: 24px;
  background: #d9d9d9;
}

select.select,
button.lowest,
button.highest {
  width: 178px;
  height: 48px;
  background: #ededed;
  border-radius: 20.5px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  line-height: 48px;
  letter-spacing: -0.15px;
  color: #a3a3a3;
  margin-right: 24px;
}

select.select {
  margin-left: 24px;
}

button.active {
  background: #0ad4fa;
  color: #ffffff !important;
}
